<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.benchmarx.org/dsl/BenchmarxDSL"
			class = "org.benchmarx.dsl.benchmarxDSL.BenchmarxDSLPackage"
			genModel = "model/generated/BenchmarxDSL.genmodel" />
	</extension>
</plugin>
